.movie {
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "poster poster"
    "title button"
    "duration .";
}

.movie__title {
  grid-area: title;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  margin: 0;
  padding: 14px 6px 14px 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie__trailer {
  grid-area: poster;
  width: 100%;
  cursor: pointer;
}

.movie__poster {
  width: 100%;
  height: 168px;
  object-fit: cover;
  object-position: center;
}

.movie__save-button {
  grid-area: button;
  background: transparent center/14px no-repeat url('../../images/like.svg');
  width: 30px;
  height: 30px;
  margin: 7px 10px 0 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.movie__save-button:hover {
  opacity: 0.8;
}

.movie__save-button_active {
  background: transparent center/14px no-repeat url('../../images/like-active.svg');
}

.movie__delete-button {
  grid-area: button;
  background: transparent center/7px no-repeat url('../../images/delete.svg');
  width: 30px;
  height: 30px;
  margin: 7px 10px 0 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.movie__delete-button:hover {
  opacity: 0.8;
}

.movie__duration {
  grid-area: duration;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #a0a0a0;
  margin: 0;
  padding: 0 0 14px 14px;
}

@media screen and (min-width: 560px) {
  .movie__title {
    font-size: 13px;
    line-height: 1.23;
    padding: 14px 21px 15px 14px;
  }

  .movie__poster {
    height: 190px;
  }

  .movie__save-button {
    margin: 8px 14px 0 0;
  }

  .movie__delete-button {
    display: none;
    margin: 8px 14px 0 0;
  }

  .movie:hover .movie__delete-button {
    display: block;
  }

  .movie__duration {
    font-size: 11px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 900px) {
  .movie__title {
    padding: 16px 12px 17px 16px;
  }

  .movie__poster {
    height: 203px;
  }

  .movie__save-button {
    margin: 9px 16px 0 0;
  }

  .movie__delete-button {
    margin: 9px 16px 0 0;
  }
}
