.navigation {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__burger {
  width: 40px;
  height: 43px;
  background: transparent center no-repeat url('../../images/burger-menu.svg');
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity .5s ease;
}

.navigation__burger_type_main {
  background: transparent center no-repeat url('../../images/burger-menu-main-page.svg');
}

.navigation__burger:hover {
  opacity: 0.7;
}

.navigation__wrapper {
  max-width: 520px;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: -520px;
  transition: right .5s;
  background: #fff;
  opacity: 1;
}

.navigation_menu-open .navigation__wrapper {
  display: flex;
  right: 0;
}

.navigation_menu-open .navigation__background {
  display: block;
}

.navigation__background {
  display: none;
  width: calc(100vw - 520px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: right .5s;
  background: #000;
  opacity: 0.3;
}

.navigation__close-button {
  width: 22px;
  height: 22px;
  background: transparent center no-repeat url('../../images/close.svg');
  position: absolute;
  right: 14px;
  top: 14px;
  border: none;
  cursor: pointer;
  transition: opacity .5s ease;
}

.navigation__close-button:hover {
  opacity: 0.7;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 144px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__item {
  margin: 0 0 24px;
}

.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0 0 7px;
  border: none;
  cursor: pointer;
  transition: opacity .5s ease;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_active {
  border-bottom: 2px solid #000;
}

.navigation__profile-button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-decoration: none;
  margin: 0 0 46px;
  padding: 8px 20px;
  background-color: #f9f9f9;
  color: #000;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.navigation__profile-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 560px) {
  .navigation__burger {
    width: 44px;
    height: 44px;
  }

  .navigation__close-button {
    right: 23px;
    top: 23px;
  }

  .navigation__list {
    padding: 159px 0 0;
  }

  .navigation__item {
    margin: 0 0 28px;
  }

  .navigation__link {
    padding: 0 0 4px;
  }

  .navigation__profile-button {
    margin: 0 0 90px;
  }
}

@media screen and (min-width: 900px) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation__burger {
    display: none;
  }

  .navigation__close-button {
    display: none;
  }

  .navigation__wrapper {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    height: 100%;
    position: static;
  }

  .navigation__wrapper_type_main {
    background: #073042;
  }

  .navigation__list {
    margin: auto 0;
    padding: 10px 0 10px 44px;
    flex-direction: row;
  }

  .navigation__item {
    margin: 0;
  }

  .navigation__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
    margin: 0;
    padding: 0 16px 0 0;
  }

  .navigation__link_type_main {
    color: #fff;
  }

  .navigation__link_active {
    font-weight: 500;
    border: none;
  }

  .navigation__link_hidden {
    display: none;
  }

  .navigation__profile-button {
    margin: 0;
  }

  .navigation__profile-button_type_main {
    background-color: #073042;
    color: #fff;
    border: 2px solid #f5f5f5;
  }
}