.footer {
  width: calc(100% - 20px);
  flex-shrink: 0;
  padding-top: 79px;
  padding-bottom: 10px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "links"
    "copyright";
}

.footer__title {
  grid-area: title;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #a0a0a0;
  text-align: center;
  justify-self: stretch;
  margin: 0 0 30px;
  padding: 0 0 21px;
  border-bottom: 1px solid #e8e8e8;
}

.footer__copyright {
  grid-area: copyright;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #a0a0a0;
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.footer__links {
  grid-area: links;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 12px;
  padding: 0;
  margin: 0 auto;
}

.footer__item {
  text-align: center;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 1s ease;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (min-width: 560px) {
  .footer {
    width: calc(100% - 60px);
    padding-bottom: 20px;
    justify-content: space-between;
    grid-template-areas:
      "title title"
      "copyright links";
  }

  .footer__title {
    font-size: 13px;
    margin: 0 0 20px;
    padding: 0 0 20px;
  }

  .footer__copyright {
    font-size: 13px;
    line-height: 1.21;
    color: #000;
    text-align: left;
    padding-top: 0;
  }

  .footer__links {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: 1fr;
    gap: 20px;
    justify-content: end;
  }

  .footer__link {
    font-size: 13px;
    line-height: 1.21;
    text-align: right;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    width: calc(100% - 140px);
  }
}